#modal {
  background-color: darkgrey;

  #modalComponent{
    height: 150px;
    width: 300px;
    margin: auto;
    margin-top: 20%;
    visibility: visible;

    .verticallist {
      text-align: center;

      span.label {
        display: block;
      }

      .button {
        margin: auto;
        margin-top: 15px;
        .label {
          line-height: 30px;
        }
      }
    }
    .button .label{
      color: black;
    }
  }
}