body {
    background-color: transparent;
}

#app {
    background-color: transparent;
}

#main.active {
    display: block;
}

.transparent {
    border: none;
    background-color: transparent;
}

.splashLogo {
    background: none;
}

.fontPreload {
    position: absolute;
    left: -1000px;
    top: -1000px;
    visibility: hidden;
}
