object {
    position: absolute;
}

.display-none {
    display: none !important;
}

.visibility-hidden {
    visibility: hidden !important;
}

html, body {
    height: 720px;
    width: 1280px;
}

body {
    font-size: 1em;
    font-family: @font;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#app {
    background: @background-color;
    color: #FFF;
    overflow: hidden;
    &.active-mediaplayer {
        background: none;
        #main, #menu {
            display: none;
        }
        #player {
            display: block;
        }
    }
    &.horizontallist > #menu {
        height: 100%;
        float: left;
        right: auto;
    }
    &.verticallist > #menu {
        width: 100%;
        bottom: auto;
    }
    .browserdevice540p & {
        width: 960px;
        height: 540px;
    }
    .browserdevice720p & {
        width: 1280px;
        height: 720px;
    }
    .browserdevice1080p & {
        width: 1920px;
        height: 1080px;
    }
}

.componentcontainer, .component {
    position: absolute !important;
    top: 0;
    right: 0;
    left: 0;
}

#menu.componentcontainer {
    .button {
        border-radius: 0;
        background: none;
        line-height: normal;
        width: auto;
        height: auto;
        border: none;
        &.focus {
            color: @focus-color;
        }
    }
}

#footer {
    bottom: 0;
    width: 100%;
    z-index: 10;
    ul {
        float: right;
        li {
            display: inline-block;
            min-width: 75px;
            padding: 0 15px;
        }
    }
}

#player {
    display: none;
    .hit-screen {
        position: absolute;
        width: 1280px;
        height: 720px;
        z-index: 2;
    }
}

#modal {
    /* Gonzalo: This rule doesn't allow to display modals when you route to them */
    /*display: none;*/
    z-index: 35;
    background: @modal-background;
    &.active {
        display: block;
        bottom: 0;
        #dialogContainer {
            position: relative;
            height: 720px - @modal-padding/1.5;
            border-radius: @radius*2;
            color: @button-color;
            overflow: hidden;
            margin: @modal-padding/3 @modal-padding;
            &.big {
                height: 720px - @page-padding;
                margin: @page-padding/2 @page-padding;
                .splitview > .listitem {
                    height: 720px - @page-padding*2;
                    float: left;
                }
            }
            .horizontallist {
                text-align: center;
            }
            .splitview {
                height: 100%;
                > .listitem {
                    height: 720px - @modal-padding/1.5;
                    float: left;
                }
            }
            .footer {
                position: absolute;
                bottom: @page-padding/2;
                width: 100%;
                left: 0;
            }
            .title {
                color: @focus-color;
            }
            > .label {
                display: block;
            }
            .label {
                text-align: center;
            }
            > .button {
                margin: 0 auto;
            }
        }
    }
}

h1, .h1, .title {
    font-size: @title-size;
}

/* List widgets */
.carouselwidgetstrip, .horizontallist, .verticallist, .horizontal {
    position: relative;
    .carouselItem, .listitem {
        position: relative;
    }
}

/* Horizontal carousel widgets */
/* the mask is the top level of the carousel and defines where it is displayed and how much is visible */
.component .horizontallist > .listitem, .component .carouselmask > .horizontal > .carouselItem {
    display: inline-block;
    vertical-align: top;
}

.horizontalcarousel, .carouselwidgetstrip.horizontal, .horizontallist.fullwidth {
    width: 99999px; /* needs to be big enough so carousel plus clones do not flow onto more then one line */
}

.boxSplashContainer {
    height: 100%;
    background: @background-color;
    .splashLogo {
        height: 100%;
        background: url('assets/img/splashLogo.png') no-repeat center;
    }
}

.button, input {
    border: @border-width @border-style @border-color;
    &.focus {
        border-color: @focus-color;
    }
}

.button {
    border-radius: @radius;
    background: @button-background;
    color: @button-color;
    width: @button-width;
    height: @button-height;
    line-height: @button-height;
    text-align: center;
    margin: @button-margin;
    &.buttonDisabled {
        color: lighten(@button-color, 25%);
    }
    &.square {
        width: @buttonSquare;
        height: @buttonSquare;
        line-height: @buttonSquare;
    }
    &.keyboardButton {
        display: inline-block;
        width: @buttonKeyboard-width;
        height: @buttonKeyboard-height;
        line-height: @buttonKeyboard-height;
    }
    &.input, &.cover {
        border-radius: 0;
        background: none;
        line-height: normal;
        height: auto;
        width: auto;
        .label {
            text-align: left;
        }
    }
    &.cover {
        border: none;
        .image {
            border: @border-width @border-style @border-color;
        }
        &.focus .image {
            border-color: @focus-color;
        }
    }
    &.input {
        background: #FFF;
        &.selected {
            background: fade(@focus-color, 50%);
            border-color: fade(@focus-color, 50%);
            color: #FFF;
        }
    }
    .label {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

.keyboard {
    &.uppercase {
        text-transform: uppercase;
        .keyboardButton.keyabc {
            text-transform: lowercase !important;
        }
    }
    &.lowercase {
        text-transform: lowercase;
        .keyboardButton.keyabc {
            text-transform: uppercase !important;
        }
    }
    .spacer {
        display: none;
    }
}

.textpager {
    overflow: hidden;
}