// These are the variables used by the base and default style
// Do not remove them. Their values can be overwritten here.
@page-padding: 50px;
@title-size: 2em;

@font: 'sans-serif';
@background-color: #FFF;
@focus-color: #f16223;
@radius: 2px;
@border-width: 3px;
@border-style: solid;
@border-color: #FFF;

@button-background: #ffffff;
@button-color: #FFF;
@button-width: 5em;
@button-height: 2em;
@button-margin: 0.25em;

@buttonSquare: 5em;

@buttonKeyboard-width: 2em;
@buttonKeyboard-height: 2em;

@modal-background: transparent;
@modal-padding: 300px;

// The values below are added during the development of this application
